<p-galleria
  #galleria
  [value]="images"
  [(activeIndex)]="activeIndex"
  [numVisible]="5"
  [showThumbnails]="showThumbnails"
  [showItemNavigators]="true"
  [showItemNavigatorsOnHover]="true"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
  [containerClass]="galleriaClass()"
>
  <ng-template pTemplate="item" let-item>
    <div class="bg-black w-full h-full flex justify-center">
      <img
        [src]="item.itemImageSrc"
        [ngClass]="{
          'w-[300px] h-[400px] desktop:w-[500px] desktop:h-[650px] object-contain block':
            !fullscreen
        }"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div
      class="overflow-y-clip grid grid-nogutter justify-content-center"
      [ngClass]="{
        'h-[50px] desktop:h-[100px]': !fullscreen,
        'h-[100px] desktop:h-[200px]': fullscreen
      }"
    >
      <img
        class="object-contain"
        [ngClass]="{
          'h-[50px] desktop:h-[100px]': !fullscreen,
          'h-[100px] desktop:h-[200px]': fullscreen
        }"
        [src]="item.thumbnailImageSrc"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="footer" let-item>
    <div class="custom-galleria-footer">
      <button
        type="button"
        pButton
        icon="pi pi-list"
        (click)="onThumbnailButtonClick()"
      ></button>
      <span *ngIf="images" class="title-container">
        <span>{{ activeIndex + 1 }}/{{ images.length }}</span>
        <span class="title">{{ images[activeIndex].title }}</span>
        <span>{{ images[activeIndex].alt }}</span>
      </span>
      <button
        type="button"
        pButton
        [icon]="fullScreenIcon()"
        (click)="toggleFullScreen()"
        class="fullscreen-button"
      ></button>
    </div>
  </ng-template>
</p-galleria>
