<div class="flex flex-col bg-kamadoor-light-gray m-2 p-4">
  <span
    class="flex pb-2 w-full border-b-2 border-b-kamadoor-orange font-sans gap-2 text-4xl text-white"
  >
    Drzwi łamane - Drzwi składane
  </span>

  <div class="flex flex-col gap-4 font-sans mt-4 text-white">
    <span> Drzwi Łamane, Składane, Harmonijkowe. </span>
    <span>
      Jesteśmy specjalistyczną firmą, wykonującą na indywidualne zamówienie
      Szklane Drzwi Łamane .
    </span>
    <span
      >Tego typu rozwiązanie konstrukcyjne, jest coraz częściej poszukiwanym
      przez klientów, ze względu na swe unikatowe walory użytkowe.</span
    >
    <span
      >Drzwi Składane, nadają się do zastosowania zarówno w pomieszczeniach o
      niewielkich metrażach, jak również wszędzie tam, gdzie mamy do
      przesłonięcia szerokie przestrzenie.</span
    >
    <span
      >Drzwi Łamane, nazywane również Harmonijkowymi, umożliwiają ekonomiczne
      zarządzanie dostępną powierzchnią po ich otwarciu, ponieważ wszystkie
      zespolone ze sobą tafle szkła, można pomieścić na wąskiej przestrzeni przy
      ścianie.</span
    >
    <span>
      Produkowane przez naszą firmę drzwi Łamane, umożliwiają przesłanianie
      powierzchni o wymiarach:
      <ul class="list-disc ml-10 mt-4 flex flex-col gap-4">
        <li>wysokość całkowita: do 2,5 - 2,6m,</li>
        <li>
          szerokości dla jednego skrzydła po otwarciu : od 0,9m do 5,0m
          długości,
        </li>
        <li>szerokość dla dwóch skrzydeł po otwarciu: do 10m długości.</li>
      </ul>
    </span>
    <span
      >Poniżej prezentujemy przykładowe zdjęcia szklanych drzwi Łamanych,
      wykonanych przez naszą firmę.</span
    >
    <span
      >Chcąc uzyskać wstępną - przybliżoną wycenę, prosimy o złożenie nam
      pisemnego zapytania przy użyciu
      <a href="kontakt" class="text-blue-500 hover:underline"
        >FORMULARZA KONTAKTOWEGO</a
      ></span
    >
    <span
      >Prosimy w Formularzu wypełnić wszystkie wymagane pola, oraz podać
      orientacyjny wymiar otworu drzwiowego – jego szerokość oraz
      wysokość.</span
    >
  </div>
</div>
