<div class="flex flex-col bg-kamadoor-light-gray m-2 p-4">
  <span
    class="flex pb-2 w-full border-b-2 border-b-kamadoor-orange font-sans gap-2 text-4xl text-white"
  >
    Drzwi wejściowe do mieszkania BARAŃSKI
  </span>

  <div class="flex flex-col gap-4 font-sans mt-4 text-white">
    <span>
      Drzwi wejściowe do mieszkania Barański SMART cechują wyjątkowe parametry w
      zakresie antywłamaniowości, akustyki oraz przeciwpożarowości. Zapewniają
      bezpieczeństwo przed włamaniami, jednocześnie chronią przed hałasem oraz
      zapobiegają rozprzestrzenianiu się ognia w przypadku pożaru. W
      mieszkaniach idealnie sprawdzają się jako drzwi klatkowe, a także są
      wykorzystywane w prywatnych domach do oddzielenia pomieszczeń
      gospodarczych od części mieszkalnej. Drzwi techniczne Barański Smart to
      także idealne rozwiązanie dla hoteli, inwestycji i budynków użyteczności
      publicznej.
    </span>
    <span
      >Pełna oferta drzwi jest dostępna w katalogu pod poniższym linkiem:</span
    >
    <a
      class="text-blue-500 hover:underline"
      href="https://www.baranskidrzwi.pl/katalogi/"
      >www.baranskidrzwi.pl/katalogi</a
    >
  </div>

  <div class="mt-10 flex flex-col w-full">
    <span class="text-white font-semibold border-b pb-2 border-b-white"
      >Poniżej przedstawiamy wybrane modele tego producenta:</span
    >
  </div>

  <div class="grid grid-flow-row grid-rows-3 grid-cols-4 gap-8">
    @for (number of numbers; track number) {
    <div class="flex flex-col h-full text-center">
      <p-image
        [src]="
          'assets/offer/apartment-internal/baranski/DWMB-' +
          number.toString().padStart(2, '0') +
          '.JPG'
        "
        alt="Image"
        [preview]="true"
        imageClass="p-6"
      />
      <span>DWMB-{{ number.toString().padStart(2, "0") }}</span>
    </div>
    }
  </div>
</div>
