<div class="flex flex-col bg-kamadoor-light-gray m-2 p-4">
  <span
    class="flex pb-2 w-full border-b-2 border-b-kamadoor-orange font-sans gap-2 text-4xl text-white"
  >
    Drzwi przesuwne szklane
  </span>

  <div class="flex flex-col gap-4 font-sans mt-4 text-white">
    <span>
      Specjalizujemy się w wykonywaniu nietypowych szklanych drzwi przesuwnych,
      przygotowywanych na indywidualne zamówienie.
    </span>
    <span>
      Dokonujemy pomiaru otworu drzwiowego i określamy wraz z klientem
      indywidualne cechy techniczne i wizualne drzwi w taki sposób, aby produkt
      końcowy, spełnił oczekiwania zamawiającego.
    </span>
    <span
      >Poniżej prezentujemy przykładowe zdjęcia szklanych drzwi przesuwnych,
      wykonanych przez naszą firmę.</span
    >
    <span
      >Chcąc uzyskać wstępną - przybliżoną wycenę, prosimy o złożenie nam
      pisemnego zapytania przy użyciu
      <a href="kontakt" class="text-blue-500 hover:underline"
        >FORMULARZA KONTAKTOWEGO</a
      ></span
    >
    <span
      >Prosimy w Formularzu wypełnić wszystkie wymagane pola oraz wskazać numer
      zdjęcia z drzwiami, jakie są najbliższe Państwa oczekiwaniom oraz podać
      orientacyjny wymiar otworu drzwiowego – jego szerokość oraz
      wysokość.</span
    >
  </div>
</div>
